/* ERAM.RC    RAM Disk ERAM for WindowsNT/2000/XP
      Copyright (c) 1999-2004 by *Error15
*/

#include <windows.h>

#ifdef RC_INVOKED

/////////////////////////////////////////////////////////////////////////////
// Japanese resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN)
#ifdef _WIN32
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)
#endif //_WIN32

VS_VERSION_INFO	VERSIONINFO
	FILEVERSION		2,30
	PRODUCTVERSION	2,30
	FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
	FILEFLAGS		0x0L
	FILEOS			VOS_NT_WINDOWS32
	FILETYPE		VFT_DRV
	FILESUBTYPE		VFT2_DRV_SYSTEM
BEGIN
	BLOCK	"StringFileInfo"
	BEGIN
		BLOCK	"041104b0"		//Japanese
		BEGIN
			VALUE "Comments",			"ERAM"
			VALUE "CompanyName",		"*Error15 & Zero3K"
			VALUE "FileDescription",	"ERAM"
			VALUE "FileVersion",		"2.30"
			VALUE "InternalName",		"eram.sys"
			VALUE "LegalCopyright",		"Copyright (C) 1999-2020 *Error15 & Zero3K"
			VALUE "OriginalFilename",	"eram.sys"
			VALUE "ProductName",		"ERAM"
			VALUE "ProductVersion",		"2.30"
		END
	END
	BLOCK	"VarFileInfo"
	BEGIN
		VALUE "Translation", 0x411, 1200
	END
END

#endif	// Japanese resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// English (America) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

VS_VERSION_INFO	VERSIONINFO
	FILEVERSION		2,30
	PRODUCTVERSION	2,30
	FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
	FILEFLAGS		0x0L
	FILEOS			VOS_NT_WINDOWS32
	FILETYPE		VFT_DRV
	FILESUBTYPE		VFT2_DRV_SYSTEM
BEGIN
	BLOCK	"StringFileInfo"
	BEGIN
		BLOCK	"040904b0"		//English
		BEGIN
			VALUE "Comments",			"ERAM"
			VALUE "CompanyName",		"*Error15 & Zero3K"
			VALUE "FileDescription",	"ERAM"
			VALUE "FileVersion",		"2.30"
			VALUE "InternalName",		"eram.sys"
			VALUE "LegalCopyright",		"Copyright (C) 1999-2020 *Error15 & Zero3K"
			VALUE "OriginalFilename",	"eram.sys"
			VALUE "ProductName",		"ERAM"
			VALUE "ProductVersion",		"2.30"
		END
	END
	BLOCK	"VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END

#endif	// English (America) resources

#endif	//RC_INVOKED
